<br>
<br>
<br>
<!-- Projects section v.3 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">MEDIOS DE TRANSMISIÓN</h2>
    <!-- Section description -->
    <p class="black-text text-center w-responsive mx-auto mb-5">El medio de transmisión constituye el soporte físico a través del cual emisor y receptor pueden comunicarse en un sistema de transmisión de datos. Distinguimos dos tipos de medios: guiados y no guiados. En ambos casos la transmisión se realiza por medio de ondas electromagnéticas. Los medios guiados conducen (guían) las ondas a través de un camino físico, ejemplos de estos medios son el cable coaxial, la fibra óptica y el par trenzado. Los medios no guiados proporcionan un soporte para que las ondas se transmitan, pero no las dirigen; como ejemplo de ellos tenemos el aire y el vacío.
      La naturaleza del medio junto con la de la señal que se transmite a través de él constituyen los factores determinantes de las características y la calidad de la transmisión. En el caso de medios guiados es el propio medio el que determina el que determina principalmente las limitaciones de la transmisión: velocidad de transmisión de los datos, ancho de banda que puede soportar y espaciado entre repetidores. Sin embargo, al utilizar medios no guiados resulta más determinante en la transmisión el espectro de frecuencia de la señal producida por la antena que el propio medio de transmisión.</p>
  
    <!-- Grid row -->
   
    <div class="embed-responsive embed-responsive-16by9 col-lg-9 container">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/88K2xNjNtQE" allowfullscreen></iframe>
    </div>
  
  </section>
  <!-- Projects section v.3 -->




  <h2 class="h1-responsive font-weight-bold text-center my-5">HISTORIA DE LOS MEDIOS DE COMUNICACIÓN</h2>

  <div class="embed-responsive embed-responsive-16by9 col-lg-9 container">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NU6DCSWOEn0" allowfullscreen></iframe>
  </div>


<br>
<br>


  <!-- Footer -->
<footer class="page-footer font-small blue-gradient">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 by: Roberto
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->