<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav  blue-gradient" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a href="#" class="navbar-brand"><img class="navbar-logo img-fluid rounded"src="../../assets/img/itp.png"></a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light letra" [routerLink]="['principal']" mdbWavesEffect>INICIO</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light letra" [routerLink]="['medios']" mdbWavesEffect>MEDIOS DE COMUNICACIÓN</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link waves-light letra" [routerLink]="['guiados']" mdbWavesEffect>MEDIOS GUIADOS</a>
        </li>
  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light letra" [routerLink]="['no guiados']" mdbWavesEffect>MEDIOS NO GUIADOS</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light letra" [routerLink]="['bibliografia']" mdbWavesEffect>BIBLIOGRAFÍAS</a>
        </li>

      </ul>
      <!-- Links -->
  
     

      

     
     

      



    </links>
    <!-- Collapsible content -->
  
</mdb-navbar>
  <!--/.Navbar-->

 