.letra{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
  }

.letra2{

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: black !important; 

}