<br>
<br>

<h2 class="h1-responsive font-weight-bold text-center my-5">REFERENCIAS BIBLIOGRÁFICAS</h2>
<p class="h6 black-text">F. Hernández. (2015). Medios de transmisión. Marzo 2021, de CVA Sitio web: https://www.ecured.cu/Medios_Guiados_y_no_Guiados#:~:text=Dentro%20de%20los%20medios%20de,guiados%20no%20son%20medios%20f%C3%ADsicos.</p>
<p class="h6 mt-4 black-text">J. aguilera. (2012). Medios de transmisión. Marzo 2021, de CVA Sitio web: https://es.slideshare.net/JonathanJavierPootMoo/instituto-tecnolgico-superior-de-hopelchen-medios-guiados-y-no-guiados#:~:text=3.,por%20medio%20de%20un%20cable.</p>
<p class="h6 mt-4 black-text">F. Salazar. (2013). Medios de transmisión. Marzo 2021, de CVA Sitio web: https://neo.lcc.uma.es/evirtual/cdd/tutorial/fisico/Mtransm.html#:~:text=Medios%20de%20transmisi%C3%B3n,por%20medio%20de%20ondas%20electromagn%C3%A9ticas.</p>
<p class="h6 mt-4 black-text">D. Baltazar. (2015). Modos y medios de transmisión. Marzo 2021, de CVA Sitio web: https://telecomunicaciones2.webnode.mx/unidad-1/a1-2-modos-y-medios-de-transmision-/</p>
<p class="h6 mt-4 black-text">https://www.youtube.com/watch?v=88K2xNjNtQE&t=24s&ab_channel=Tecno_Comunicaciones</p>
<p class="h6 mt-4 black-text">https://www.youtube.com/watch?v=NU6DCSWOEn0&t=240s&ab_channel=TeoCom</p>