<br>
<br>
<br>
<!-- Projects section v.3 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">MEDIOS GUIADOS</h2>
    <!-- Section description -->
    <p class="black-text text-center w-responsive mx-auto mb-5">Se conoce como medios guiados a aquellos que utilizan
        unos componentes físicos y sólidos para la transmisión de datos. También conocidos como medios de transmisión
        por cable.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-5">
        <!--Image-->
        <img src="../../assets/img/guiado/guiado1.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas size="2x" class="cyan-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Par Trenzado</h5>
            <p class="black-text justificar">Normalmente se les conoce como un par de conductores de cobre aislados entrelazados formando
                 una espiral. Es un enlace de comunicaciones. En estos el paso del trenzado es variable y pueden ir varios en 
                 una envoltura. El hecho de ser trenzado es para evitar la diafonía (la diafonía es un sonido indeseado el cual
                 es producido por un receptor telefónico). Es el medio más común de transmisión de datos que existe en la actualidad, 
                 pudiéndose encontrar en todas las casas o construcciones de casi cualquier lugar. Se utiliza para la formación de una 
                 red telefónica, la cual se da entre un abonado o usuario y una central local. En este medio de transmisión encontramos a favor el hecho de ser prácticamente el más económico que se puede ubicar en el mercado actual, por otro lado es el más fácil de trabajar por lo que cualquier persona con un mínimo de conocimientos puede adaptarlo a sus necesidades.</p>
          </div>
        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas size="2x" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Cable Coaxial</h5>
            <p class="black-text justificar">El cable coaxial es un medio de transmisión relativamente reciente y muy conocido ya que es
                el más usado en los sistemas de televisión por cable. Físicamente es un cable cilíndrico constituido por un 
                conducto cilíndrico externo que rodea a un cable conductor, usualmente de cobre. Es un medio más versátil ya 
                que tiene más ancho de banda (500Mhz) y es más inmune al ruido. Es un poco más caro que el par trenzado aunque 
                bastante accesible al usuario común. Encuentra múltiples aplicaciones dentro de la televisión (TV por cable, 
                cientos de canales), telefonía a larga distancia (puede llevar 10.000 llamadas de voz simultáneamente), redes 
                de área local (tiende a desaparecer ya que un problema en un punto compromete a toda la red). Tiene como 
                características de transmisión que cuando es analógica, necesita amplificadores cada pocos kilómetros y los 
                amplificadores más cerca de mayores frecuencias de trabajos, y hasta 500 Mhz; cuando la transmisión es digital 
                necesita repetidores cada 1 Km y los repetidores más cerca de mayores velocidades transmisión. 
                La transmisión del cable coaxial entonces cubre varios cientos de metros y transporta decenas de Mbps.</p>
          </div>
        </div>
        <!-- Grid row -->
  
        
  
        
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
        <!--Image-->
        <img src="../../assets/img/guiado/guiado2.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  


    <hr class="my-5">

    <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
          <!--Image-->
          <img src="../../assets/img/guiado/guiado3.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-7">
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <mdb-icon fas size="2x" class="cyan-text"></mdb-icon>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Fibra Óptica</h5>
              <p class="black-text justificar">Es el medio de transmisión mas novedoso dentro de los guiados y su uso se esta masificando
                   en todo el mundo reemplazando el par trenzado y el cable coaxial en casi todo los campos. En estos días lo 
                   podemos encontrar en la televisión por cable y la telefonía. En este medio los datos se transmiten mediante 
                   una haz confinado de naturaleza óptica, de ahí su nombre, es mucho más caro y difícil de manejar pero sus ventajas 
                   sobre los otros medios lo convierten muchas veces en una muy buena elección al momento de observar rendimiento 
                   y calidad de transmisión. Físicamente un cable de fibra óptica esta constituido por un núcleo formado por una 
                   o varias fibras o hebras muy finas de cristal o plástico; un revestimiento de cristal o plástico con propiedades 
                   ópticas diferentes a las del núcleo, cada fibra viene rodeada de su propio revestimiento y una cubierta plástica 
                   para protegerla de humedades y el entorno. La fibra óptica encuentra aplicación en los enlaces entre nodos, backbones, 
                   atm, redes Lan´s, gigabit ethernet, largas distancias, etc. Dentro de las características de transmisión encontramos 
                   que se basan en el principio de “reflexión total” (índice de refracción del entorno mayor que el del medio de transmisión), 
                   su guía de ondas va desde 10^14 Hz a 10^15 Hz, esto incluye todo el espectro visible y el partye del infrarrojo.</p>
            </div>
          </div>
          <!-- Grid row -->
  
        </div>
        <!-- Grid column -->
    
      </div>




  </section>
  <!-- Projects section v.3 -->



  <!-- Footer -->
<footer class="page-footer font-small blue-gradient">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 by: Roberto
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->