<br>
<br>
<br>
<!-- Projects section v.3 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">MEDIOS NO GUIADOS</h2>
    <!-- Section description -->
    <p class="black-text text-center w-responsive mx-auto mb-5">Los medios no guiados o sin cable han tenido gran acogida al ser un buen medio de cubrir grandes distancias y hacia cualquier dirección, su mayor logro se dio desde la conquista espacial a través de los satélites y su tecnología no para de cambiar. De manera general podemos definir las siguientes características de este tipo de medios: La transmisión y recepción se realiza por medio de antenas, las cuales deben estar alineadas cuando la transmisión es direccional, o si es omnidireccional la señal se propaga en todas las direcciones.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-5">
        <!--Image-->
        <img src="../../assets/img/no/no1.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas size="2x" class="cyan-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Radiofrecuencia</h5>
            <p class="black-text justificar">El concepto de radiofrecuencia se emplea para nombrar a las frecuencias del espectro electromagnético que se utilizan en las radiocomunicaciones. La radiofrecuencia, en definitiva, es la parte del espectro electromagnético que abarca desde los 3 kilohercios hasta los 300 gigahercios. Estas frecuencias se utilizan para las comunicaciones militares, la navegación, los radares y la radiofonía AM y FM, por citar algunas posibilidades. Dentro de la radiofrecuencia también es posible establecer diferentes divisiones de acuerdo a las particularidades de las frecuencias. En este sentido, se puede hablar desde frecuencias extremadamente bajas hasta frecuencias extremadamente altas, pasando por otros tipos de frecuencias en el medio.</p>
          </div>
        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas size="2x" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Infrarrojo</h5>
            <p class="black-text justificar">La radiación infrarroja o radiación térmica es un tipo de radiación electromagnética de mayor longitud de onda que la luz visible, pero menor que la de las microondas. Consecuentemente, tiene menor frecuencia que la luz visible y mayor que las microondas.

              El nombre de infrarrojo, que significa "por debajo del rojo", proviene de que fue observada por primera vez al dividir la luz solar en diferentes colores por medio de un prisma que separaba la luz en su espectro de manera que a ambos extremos aparecen visibles las componentes del rojo al violeta (en ambos extremos). Su longitud de onda, entre 700 nanómetros y un milímetro, es la siguiente en longitud al rojo, el color de longitud de onda más larga de la luz visible.

              Al hablar de comunicación inalámbrica lo primero que se piensa es en señales de radio. Sin embargo, olvidamos que nos comunicamos habitualmente con equipos electrónicos utilizando una tecnología que se ha vuelto muy común, extremadamente sofisticada y eficaz: las comunicaciones mediante infrarrojos. Cuando se opera un control remoto, lo que uno hace es comunicarse por medio de luz en la gama de los infrarrojos.
              
              
              
              </p>
          </div>
        </div>
        <!-- Grid row -->
  
        
  
        
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
        <!--Image-->
        <img src="../../assets/img/no/no2.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  


    <hr class="my-5">

    <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
          <!--Image-->
          <img src="../../assets/img/no/no3.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-7">
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <mdb-icon fas size="2x" class="cyan-text"></mdb-icon>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Microondas</h5>
              <p class="black-text justificar">Los sistemas de microondas terrestres han abierto una puerta a los problemas de transmisión de datos, sin importar cuales sean, aunque sus aplicaciones no estén restringidas a este campo solamente. Las microondas están definidas como un tipo de onda electromagnética situada en el intervalo del milímetro al metro y cuya propagación puede efectuarse por el interior de tubos metálicos. Es en si una onda de corta longitud. Tiene como características que su ancho de banda varia entre 300 a 3.000 Mhz, aunque con algunos canales de banda superior, entre 3´5 Ghz y 26 Ghz. Es usado como enlace entre una empresa y un centro que funcione como centro de conmutación del operador, o como un enlace entre redes Lan.

                Para la comunicación de microondas terrestres se deben usar antenas parabólicas, las cuales deben estar alineadas o tener visión directa entre ellas, además entre mayor sea la altura mayor el alcance, sus problemas se dan perdidas de datos por atenuación e interferencias, y es muy sensible a las malas condiciones atmosféricas.</p>
            </div>
          </div>
          <!-- Grid row -->
  
        </div>
        <!-- Grid column -->
    
      </div>


      <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas size="2x" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Satélite</h5>
            <p class="black-text justificar">Los sistemas de microondas terrestres han abierto una puerta a los problemas de transmisión de datos, sin importar cuales sean, aunque sus aplicaciones no estén restringidas a este campo solamente. Las microondas están definidas como un tipo de onda electromagnética situada en el intervalo del milímetro al metro y cuya propagación puede efectuarse por el interior de tubos metálicos. Es en si una onda de corta longitud. Tiene como características que su ancho de banda varia entre 300 a 3.000 Mhz, aunque con algunos canales de banda superior, entre 3´5 Ghz y 26 Ghz. Es usado como enlace entre una empresa y un centro que funcione como centro de conmutación del operador, o como un enlace entre redes Lan.

              Para la comunicación de microondas terrestres se deben usar antenas parabólicas, las cuales deben estar alineadas o tener visión directa entre ellas, además entre mayor sea la altura mayor el alcance, sus problemas se dan perdidas de datos por atenuación e interferencias, y es muy sensible a las malas condiciones atmosféricas.</p>
          </div>
        </div>
        <!-- Grid row -->
  
        
  
        
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
        <!--Image-->
        <img src="../../assets/img/no/no4.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
  
    </div>


  </section>
  <!-- Projects section v.3 -->



  <!-- Footer -->
<footer class="page-footer font-small blue-gradient">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 by: Roberto
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->