<br>
<br>
<div class="mt-3">     
     <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
   <mdb-carousel-item>
     <div class="view zoom vista">
       <img class="d-block w-100"  src="../../assets/img/Inicio/one.jpg" alt="First slide">
       <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
     
     <div class="carousel-caption">
       <h3 class="tit">FUNDAMENTOS DE TELECOMUNICACIONES</h3>
     </div>
   </div>
   </mdb-carousel-item>

   <mdb-carousel-item>
     <div class="view zoom vista">
       <img class="d-block w-100" src="../../assets/img/Inicio/two.jpg" alt="Second slide">
       <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
     
     <div class="carousel-caption" routerLinkActive="active">
       <a href="https://pagina-39bcd.web.app/#/medios"><h3 class="titulo">MEDIOS DE COMUNICACIÓN</h3></a>
     </div>
   </div>
   </mdb-carousel-item>

   <mdb-carousel-item>
     <div class="view zoom vista">
       <img class="d-block w-100" src="../../assets/img/Inicio/three.jpg" alt="Third slide">
       <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
     
     <div class="carousel-caption">
       <a href="https://pagina-39bcd.web.app/#/guiados"><h3 class="titulo">MEDIOS GUIADOS</h3></a>
     </div>
   </div>
   </mdb-carousel-item>

   <mdb-carousel-item>
     <div class="view zoom vista">
       <img class="d-block w-100" src="../../assets/img/Inicio/four.jpg" alt="fourth slide">
       <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
     
     <div class="carousel-caption">
       <a href="https://pagina-39bcd.web.app/#/no%20guiados" ><h3 class="titulo">MEDIOS NO GUIADOS</h3></a>
     </div>
   </div>
   </mdb-carousel-item>
 </mdb-carousel>
</div>






<div class="col-lg-12 imagen container">
    
    <img class="imagen img-fluid rounded" src="../../assets/img/itp.png">

</div>

<div class="col-lg-12">
    <p class="font-weight-bold text-center ptitulo">TECNOLÓGICO NACIONAL DE MÉXICO</p>
    <p class="font-weight-bold text-center ptitulo">INSTITUTO TECNOLÓGICO DE PACHUCA</p>
    <p class="font-weight-bold text-center pletra">FUNDAMENTOS DE TELECOMUNICACIONES</p>
    <p class="font-weight-bolder text-center parrafo">DOCENTE: SALVADOR MARTÍNEZ PAGOLA</p>
    <p class="font-weight-bold text-center parrafo">INTEGRANTES DEL EQUIPO:</p>
    <p class="font-weight-bolder text-center parrafo">ROBERTO CARLOS FLORES CRUZ       18200993</p>
    <p class="font-weight-bolder text-center parrafo">NANCY HERNÁNDEZ SÁNCHEZ          18200765</p>
    <p class="font-weight-bolder text-center parrafo">ESAÚ PÉREZ CERVANTES             18200781</p>
    <p class="font-weight-bolder text-center parrafo">JESÚS EDUARDO RODARTE ESCAMILLA  18200202</p>

</div>
  
<br>
<br>

<!-- Footer -->
<footer class="page-footer font-small blue-gradient">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 by: Roberto
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->