.imagen{
  width:25vw; 
  height: 70%;
  position: relative;
  display: block;
  padding-bottom: 2.2rem;
  padding-top: 2.2rem;
  
}


.vista:hover {
    -webkit-filter: brightness(150%);
    transition: all .4s ease-in-out;
  }
  .vista{
      transition: all .4s ease-in-out;
  }

.letra{
    font: size 1vmax;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
}

.ptitulo{
  font-size: 3vmax !important;
  color: #203c7c;
}

.pletra{
  font-size: 2.5vmax !important;
}

.parrafo{
  font-size: 2vmax !important
}

.titulo{
    font-size: 5vmax !important;
    padding: 13vh 0.5rem; 
    align-items: center !important;
    color: transparentize($color: #D0D3D4, $amount: 0);
    text-shadow: 0 0 9px#09358d; 
    text-transform: uppercase;

}

.subtitulo{
  font-size:45px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-weight: bold;
  color:black;
}

.tit{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 6vmax !important;
  padding: 13vh 0.5rem; 
    text-align: center;
    
    color: transparentize($color: #a5a8a8, $amount: 0);
    text-shadow: 0 0 9px #09358d;  
    text-transform: uppercase;

}

.centrar{
  text-align: center;
  
}




h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 5vmax;
    padding: 5rem 3rem;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    
    &.elegantshadow {
      color: #131313;
      background-color: #fffafa;
   
      text-shadow: 
        1px -1px 0 #767676, 
        -1px 2px 1px #737272, 
         
        
        -2px 4px 1px #7f7d7d, 
        -3px 6px 1px #949392, 
         
         
        -4px 8px 1px #adabab, 
        -5px 10px 1px#b2b1b0, 
         
        
        -6px 12px 1px #dfdddc, 
        -7px 14px 1px  #e2e0df, 
        
        
       
    }
}

/* unvisited link */
a:link {
    color:  white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: #ffffff;
  }
  
  /* selected link */
  a:active {
    color: gray;
  }

  
.footizq{
  padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    min-height: 20px;
}

footder{
  padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -4px;
    color: #fff;
}

footcenter{
  margin-left: 8px;
  margin-right: 8px;
}